body{
    font-family: 'Poppins', sans-serif;
}


.carousel-item {
    height: 40rem;
    background: #777;
    position: relative;
    background-position: center;
    background-size: cover;

}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background: #000;
    opacity: 0.5;
}

.container-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 200px;
}

